<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Workout</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <div class="button-container"></div>
        <a href="/return_dashboard" class="button">Return to dashboard</a>
    </div>

    <h3>Select a current workout you wish to add</h3>
    <form action="/edit_current_workout" method="post">
        <label for="item-select">Choose a workout to edit:</label>
        <select id="item-select" name="selected_workout">
            {% for item in items %}
                <option value="{{ item[0] }}">{{ item[0] }}</option>
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>

    <h3>or a workout event to delete</h3>
    <form action="/delete_workout" method="post">
        <label for="item-select">Choose a workout to delete:</label>
        <select id="item-select" name="selected_workout_to_delete">
            {% for item in items %}
                <option value="{{ item[0] }}">{{ item[0] }}</option>
            {% endfor %}
        </select>
        <button type="submit">Delete</button>
    </form>

    <h3>or create a new workout event</h3>
    <form action="/create_new_workout" method="post">
        <table id="time_table">
            <thead>
                <tr>
                    <th></th>
                    <th>Year</th>
                    <th>Month</th>
                    <th>Day</th>
                    <th>Hour</th>
                    <th>Minute</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Start Time</td>
                    <td>
                        <select id="start-year-select" name="start_year" required>
                            {% for year in range(2024, 2030) %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select id="start-month-select" name="start_month" required>
                            {% for month in range(1, 13) %}
                                <option value="{{ month }}">{{ month }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select id="start-day-select" name="start_day" required>
                            {% for day in range(1, 32) %}
                                <option value="{{ day }}">{{ day }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select id="start-hour-select" name="start_hour" required>
                            {% for hour in range(0, 24) %}
                                <option value="{{ hour }}">{{ hour }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select id="start-minute-select" name="start_minute" required>
                            {% for minute in range(0, 60) %}
                                <option value="{{ minute }}">{{ minute }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>End Time</td>
                    <td>
                        <select id="end-year-select" name="end_year" required>
                            {% for year in range(2024, 2030) %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select id="end-month-select" name="end_month" required>
                            {% for month in range(1, 13) %}
                                <option value="{{ month }}">{{ month }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select id="end-day-select" name="end_day" required>
                            {% for day in range(1, 32) %}
                                <option value="{{ day }}">{{ day }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select id="end-hour-select" name="end_hour" required>
                            {% for hour in range(0, 24) %}
                                <option value="{{ hour }}">{{ hour }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select id="end-minute-select" name="end_minute" required>
                            {% for minute in range(0, 60) %}
                                <option value="{{ minute }}">{{ minute }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>

        <table id="description">
            <thead>
                <tr>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" name="workout_type" required>
                    </td>
                </tr>
            </tbody>
        </table>

        
        <button type="submit">Submit a New Workout</button>
    </form>

    <h3>or search through your workouts!</h3>
    <h5>Note -1 means data for that column is empty</h5>


    <form action="/search_workout" method="post">
        <select id="item-select" name="workout_column_search">
            {% for item in search_bar %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
        <input type="text" name="workout_search_value" required>
        <button type="submit">Search</button>
    </form>

    <form action="/reset_workout_filter" method="post">
        <button type="submit">Reset Workout Filters</button>
    </form>

    <h5>Workout Search Results</h5>
    <table>
        <thead>
            <tr>
                <th>workout_id</th>
                <th>workout_day</th>
                <th>workout_description</th>
                <th>exercise_type</th>
                <th>exercise_id</th>
                <th>exercise_description</th>
                <th>weight</th>
                <th>reps</th>
                <th>sets</th>
                <th>cardio_duration</th>
            </tr>
        </thead>
        <tbody>
            {% for lift in workouts %}
                <tr>
                    <td>{{ lift.workout_id }}</td>
                    <td>{{ lift.workout_day }}</td>
                    <td>{{ lift.workout_description }}</td>
                    <td>{{ lift.exercise_type }}</td>
                    <td>{{ lift.exercise_id }}</td>
                    <td>{{ lift.exercise_description }}</td>
                    <td>{{ lift.weight }}</td>
                    <td>{{ lift.reps }}</td>
                    <td>{{ lift.sets }}</td>
                    <td>{{ lift.cardio_duration }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>






    
</body>
</html>